<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Hall of Haramis</title>
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet" />
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style>
    .navbar-default {
      background: rgba(255, 255, 255, 1);
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(252, 252, 252, 1) 47%, rgba(245, 245, 245, 1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(252, 252, 252, 1)), color-stop(100%, rgba(245, 245, 245, 1)));
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(252, 252, 252, 1) 47%, rgba(245, 245, 245, 1) 100%);
      background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(252, 252, 252, 1) 47%, rgba(245, 245, 245, 1) 100%);
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(252, 252, 252, 1) 47%, rgba(245, 245, 245, 1) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(252, 252, 252, 1) 47%, rgba(245, 245, 245, 1) 100%);
      filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
      -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
    }
    
    body {
      background: #fff url('grey.png');
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" align="center">
      <a style="color:#111;text-align: center;width: 100%;" href="#"><img src="icon48.png" style="display: inline;"></a>
    </div>
  </nav>
  <div style="margin: auto; max-width: 1280px;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12 main">
          <h2 class="page-header" style="text-align: center;margin-top: 70px;">HOH - Worst of the Worst</h2>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-2 placeholder"> 
              <h4>@data_screen_name</h4>
              <h3>#1</h3>
              <h5>H-Score: 3.3</h5>
              <p class="text-muted">Human H Meter: 90.2%</p>
              <p class="text-muted">Machine H Meter: 90.2%</p> <a class="btn btn-danger" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Latest Tweet</a> </div>
            <div class="col-xs-6 col-sm-2 placeholder"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="160" height="160" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>@data_screen_name</h4>
              <h3>#1</h3>
              <h5>H-Score: 3.3</h5>
              <p class="text-muted">Human H Meter: 90.2%</p>
              <p class="text-muted">Machine H Meter: 90.2%</p> <a class="btn btn-danger" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Latest Tweet</a> </div>
            <div class="col-xs-6 col-sm-2 placeholder"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="160" height="160" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>@data_screen_name</h4>
              <h3>#1</h3>
              <h5>H-Score: 3.3</h5>
              <p class="text-muted">Human H Meter: 90.2%</p>
              <p class="text-muted">Machine H Meter: 90.2%</p> <a class="btn btn-danger" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Latest Tweet</a> </div>
            <div class="col-xs-6 col-sm-2 placeholder"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="160" height="160" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>@data_screen_name</h4>
              <h3>#1</h3>
              <h5>H-Score: 3.3</h5>
              <p class="text-muted">Human H Meter: 90.2%</p>
              <p class="text-muted">Machine H Meter: 90.2%</p> <a class="btn btn-danger" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Latest Tweet</a> </div>
            <div class="col-xs-6 col-sm-2 placeholder"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="160" height="160" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>@data_screen_name</h4>
              <h3>#1</h3>
              <h5>H-Score: 3.3</h5>
              <p class="text-muted">Human H Meter: 90.2%</p>
              <p class="text-muted">Machine H Meter: 90.2%</p> <a class="btn btn-danger" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Latest Tweet</a> </div>
            <div class="col-xs-6 col-sm-2 placeholder"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="160" height="160" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>@data_screen_name</h4>
              <h3>#1</h3>
              <h5>H-Score: 3.3</h5>
              <p class="text-muted">Human H Meter: 90.2%</p>
              <p class="text-muted">Machine H Meter: 90.2%</p> <a class="btn btn-danger" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Latest Tweet</a> </div>
          </div>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-2 placeholder"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="160" height="160" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>@data_screen_name</h4>
              <h3>#1</h3>
              <h5>H-Score: 3.3</h5>
              <p class="text-muted">Human H Meter: 90.2%</p>
              <p class="text-muted">Machine H Meter: 90.2%</p> <a class="btn btn-danger" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Latest Tweet</a> </div>
            <div class="col-xs-6 col-sm-2 placeholder"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="160" height="160" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>@data_screen_name</h4>
              <h3>#1</h3>
              <h5>H-Score: 3.3</h5>
              <p class="text-muted">Human H Meter: 90.2%</p>
              <p class="text-muted">Machine H Meter: 90.2%</p> <a class="btn btn-danger" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Latest Tweet</a> </div>
            <div class="col-xs-6 col-sm-2 placeholder"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="160" height="160" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>@data_screen_name</h4>
              <h3>#1</h3>
              <h5>H-Score: 3.3</h5>
              <p class="text-muted">Human H Meter: 90.2%</p>
              <p class="text-muted">Machine H Meter: 90.2%</p> <a class="btn btn-danger" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Latest Tweet</a> </div>
            <div class="col-xs-6 col-sm-2 placeholder"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="160" height="160" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>@data_screen_name</h4>
              <h3>#1</h3>
              <h5>H-Score: 3.3</h5>
              <p class="text-muted">Human H Meter: 90.2%</p>
              <p class="text-muted">Machine H Meter: 90.2%</p> <a class="btn btn-danger" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Latest Tweet</a> </div>
            <div class="col-xs-6 col-sm-2 placeholder"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="160" height="160" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>@data_screen_name</h4>
              <h3>#1</h3>
              <h5>H-Score: 3.3</h5>
              <p class="text-muted">Human H Meter: 90.2%</p>
              <p class="text-muted">Machine H Meter: 90.2%</p> <a class="btn btn-danger" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Latest Tweet</a> </div>
            <div class="col-xs-6 col-sm-2 placeholder"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="160" height="160" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>@data_screen_name</h4>
              <h3>#1</h3>
              <h5>H-Score: 3.3</h5>
              <p class="text-muted">Human H Meter: 90.2%</p>
              <p class="text-muted">Machine H Meter: 90.2%</p> <a class="btn btn-danger" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Latest Tweet</a> </div>
          </div>
          <!----- lesser haramis begin ----->
          <div class="well">
            <h3 class="sub-header" style="text-align: center;">HOH - The lesser ones</h3>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th># Rank</th>
                    <th>Username</th>
                    <th>H-Score</th>
                    <th>Human H Meter</th>
                    <th>Machine H meter</th>
                    <th>View Latest tweet</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>13</td>
                    <td>Loremmmmm</td>
                    <td>3.4</td>
                    <td>90.2%</td>
                    <td>90.4%</td>
                    <td><a class="btn btn-default" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Tweet</a> </tr>
                  <tr>
                    <td>13</td>
                    <td>Loremmmmm</td>
                    <td>3.4</td>
                    <td>90.2%</td>
                    <td>90.4%</td>
                    <td><a class="btn btn-default" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Tweet</a> </tr>
                  <tr>
                    <td>13</td>
                    <td>Loremmmmm</td>
                    <td>3.4</td>
                    <td>90.2%</td>
                    <td>90.4%</td>
                    <td><a class="btn btn-default" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Tweet</a> </tr>
                  <tr>
                    <td>13</td>
                    <td>Loremmmmm</td>
                    <td>3.4</td>
                    <td>90.2%</td>
                    <td>90.4%</td>
                    <td><a class="btn btn-default" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Tweet</a> </tr>
                  <tr>
                    <td>13</td>
                    <td>Loremmmmm</td>
                    <td>3.4</td>
                    <td>90.2%</td>
                    <td>90.4%</td>
                    <td><a class="btn btn-default" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Tweet</a> </tr>
                  <tr>
                    <td>13</td>
                    <td>Loremmmmm</td>
                    <td>3.4</td>
                    <td>90.2%</td>
                    <td>90.4%</td>
                    <td><a class="btn btn-default" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Tweet</a> </tr>
                  <tr>
                    <td>13</td>
                    <td>Loremmmmm</td>
                    <td>3.4</td>
                    <td>90.2%</td>
                    <td>90.4%</td>
                    <td><a class="btn btn-default" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Tweet</a> </tr>
                  <tr>
                    <td>13</td>
                    <td>Loremmmmm</td>
                    <td>3.4</td>
                    <td>90.2%</td>
                    <td>90.4%</td>
                    <td><a class="btn btn-default" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Tweet</a> </tr>
                  <tr>
                    <td>13</td>
                    <td>Loremmmmm</td>
                    <td>3.4</td>
                    <td>90.2%</td>
                    <td>90.4%</td>
                    <td><a class="btn btn-default" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Tweet</a> </tr>
                  <tr>
                    <td>13</td>
                    <td>Loremmmmm</td>
                    <td>3.4</td>
                    <td>90.2%</td>
                    <td>90.4%</td>
                    <td><a class="btn btn-default" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Tweet</a> </tr>
                  <tr>
                    <td>13</td>
                    <td>Loremmmmm</td>
                    <td>3.4</td>
                    <td>90.2%</td>
                    <td>90.4%</td>
                    <td><a class="btn btn-default" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Tweet</a> </tr>
                  <tr>
                    <td>13</td>
                    <td>Loremmmmm</td>
                    <td>3.4</td>
                    <td>90.2%</td>
                    <td>90.4%</td>
                    <td><a class="btn btn-default" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Tweet</a> </tr>
                  <tr>
                    <td>13</td>
                    <td>Loremmmmm</td>
                    <td>3.4</td>
                    <td>90.2%</td>
                    <td>90.4%</td>
                    <td><a class="btn btn-default" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Tweet</a> </tr>
                  <tr>
                    <td>13</td>
                    <td>Loremmmmm</td>
                    <td>3.4</td>
                    <td>90.2%</td>
                    <td>90.4%</td>
                    <td><a class="btn btn-default" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Tweet</a> </tr>
                  <tr>
                    <td>13</td>
                    <td>Loremmmmm</td>
                    <td>3.4</td>
                    <td>90.2%</td>
                    <td>90.4%</td>
                    <td><a class="btn btn-default" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Tweet</a> </tr>
                  <tr>
                    <td>13</td>
                    <td>Loremmmmm</td>
                    <td>3.4</td>
                    <td>90.2%</td>
                    <td>90.4%</td>
                    <td><a class="btn btn-default" href="https://twitter.com/pakalupapito/status/774555783379968001" role="button">View Tweet</a> </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- well -->
        </div>
      </div>
    </div>
  </div>
  <!-- center-->
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>